<div class="row" *ngIf="tradingUser">
  <form>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Username :</strong>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tradingUser.username"
              name="username"
            />
          </div>

          <div>
            <strong>Name :</strong>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tradingUser.name"
              name="name"
            />
          </div>

          <div>
            <strong>Family :</strong>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tradingUser.family"
              name="family"
            />
          </div>

          <div>
            <strong>Email :</strong>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tradingUser.email"
              name="email"
            />
          </div>

          <div>
            <strong>Mobile Number :</strong>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="tradingUser.mobileNumber"
              name="mobileNumber"
            />
          </div>

          <div>
            <strong>Is Active :</strong>
            <input
              class="form-check-input"
              type="checkbox"
              id="isActive"
              checked="user.isActive"
            />
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-success" style="margin: 10px">Edit</button>
              <button class="btn btn-warning" style="margin: 10px">
                Deactive
              </button>
              <button class="btn btn-danger" style="margin: 10px">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
